<div class="entrance cover-height map-background" app-fit-to-scroll-height>    
    <div class="embedded app-container text-center">
        <img src="/img/bg-1-layer-1.png" />
    </div>
    <div class="company-logo app-container text-center">
        <img src="/img/logo.png" />
    </div>
    <form name="form" class="app-form-container" action="javascript:void(0)" ng-init="formValues = {}" ng-submit="selectDomain(formValues.language, formValues.domain, formValues.rememberMe)">
        <div class="form-group input-field" ng-init="getLanguages()">
            <div class="flag" style="background-image:{{'url(' + (languages|AppKeys:'id')[formValues.language].image + ')'}}">
                <span class="lang-text">{{(languages|AppKeys:'id')[formValues.language].name}}</span>
            </div>
            <app-select ng-model="formValues.languageName" element-required placeholder="" class="flag-select" ng-change="formValues.language = (languages|AppKeys:'name')[formValues.languageName].id">
                <app-select-item ng-repeat="langItem in languages" value="{{langItem.name}}">
                    <div class="flag-container" watch="languages" watch-change="$first && select()">
                        <div class="flag" style="background-image:{{'url(' + langItem.image + ')'}}">
                            <span class="lang-text">{{langItem.name}}</span>
                        </div>
                    </div>
                </app-select-item>
            </app-select>
        </div>
        <div class="form-group input-field non-selectable-text" watch="formValues.language" watch-change="onLanguageChange($value, formValues)">
            <app-select ng-model="formValues.domainName" element-required placeholder="'ENTRANCE_DOMAIN_SELECTOR_LABEL'|translate" ng-change="formValues.domain = (domains|AppKeys:'name')[formValues.domainName].id">
                <app-select-item ng-repeat="domainItem in domains" value="{{domainItem.name}}">{{domainItem.name}}</app-select-item>
            </app-select>
        </div>
        <div class="form-group clearfix">
            <span class="object-container pull-left">
                <button class="accept non-selectable-text" ng-disabled="form.$invalid" aria-hidden="true">
                    <span class="responsive-font-0-5">{{'ENTRANCE_BUTTON_SELECT'|translate}}</span>
                </button>
            </span>
            <span class="object-container pull-right">
                <div class="remember-me-wrapper text-right">
                    <label for="rememberMe" class="non-selectable-text"><span class="responsive-font-0-5">{{'ENTRANCE_LABEL_REMEMBER_ME'|translate}}</span></label>
                    <app-checkbox object-id="rememberMe" ng-model="formValues.rememberMe" class="remember-me-checkbox pull-right"></app-checkbox>
                </div>
            </span>
        </div>
    </form>
</div>