<div class="comments" ng-controller="CommentsController" ng-init="fetchComments()" show-modal="'alert-dialog'" modal-class="'alert-dialog'" activate-on="none" modal-init="displayAlert = $activateModal">
    <div class="add-comment">
        <!--<button show-modal="'add-comment'"></button>-->
        <!--<input type="text" ng-model="newComment" ng-model-options="{updateOn: 'change blur'}" placeholder="ADD COMMENT..." ng-change="newComment.trim() != '' && postComment(newComment); newComment = ''" />-->
        <textarea ng-class="{'app-rtl':$state.ApplicationDirectionRtL,focus:displayPostComment}" ng-model="newComment" placeholder="{{'COOMENTS_LABEL_ADD_COMMENT'|translate}}" ng-focus="textAreaFocus()" ng-trim="false" ng-blur="textAreaBlur();newComment = newComment.trim()" rows="1"></textarea><!-- trim manually, because default one doesn't update element as expected-->
        <button remove-focus ng-show="newComment || displayPostComment" ng-disabled="!newComment || newComment.trim() == ''" ng-click="addComment(event,content, newComment, alert, displayAlert); newComment = ''">
            <span ng-bind="'COMMENTS_BUTTON_POST_COMMENT'|translate"></span>
        </button>
    </div>
    
    <div class="comment clearfix" ng-repeat="comment in comments">
        <div class="profile" ng-class="{'app-rtl':$state.ApplicationDirectionRtL}">
            <div class="image cover-height" style="background-image: {{'url('+comment.avatar+')'}}" ng-if="comment.avatar"></div>
        </div>
        <div class="comment-text" ng-class="{'app-rtl':$state.ApplicationDirectionRtL}">
            <div class="app-text-collapsed" data-ellipsis data-ellipsis-append="[...]" data-ellipsis-symbol="" ng-bind="comment.message" data-ellipsis-append-click="comment.expandMessage = true" ng-if="!comment.expandMessage"></div>
            <div class="app-text" ng-bind="comment.message" ng-if="comment.expandMessage"></div>
        </div>
    </div>
    <button class="form-control show-more" ng-show="cursor" ng-click="fetchComments()">{{'COMMENTS_BUTTON_SHOW_MORE'|translate}}</button>
</div>