<div class="sidemenu fade" ng-show="view.showSideMenu">
    <div class="sidemenu-background"></div>
    <div class="sidemenu-panel">
        <a class="item-link" app-rtl ui-sref="home" ng-if="!$state.current.isHome">{{'MENU_BUTTON_BACK_TO_TIMELINE'|translate}}</a>
        <a class="item-link" app-rtl ui-sref="showInfo({page:'about'})" ng-if="$stateParams.page != 'about'">{{'MENU_BUTTON_ABOUT_US'|translate}}</a>
        <a class="item-link" app-rtl ui-sref="showInfo({page:'privacy'})" ng-if="$stateParams.page != 'privacy'">{{'MENU_BUTTON_PRIVACY'|translate}}</a>
        <a class="item-link" app-rtl ui-sref="showInfo({page:'tcs'})" ng-if="$stateParams.page != 'tcs'">{{'MENU_BUTTON_TCS'|translate}}</a>
        <a class="item-link" app-rtl ui-sref="writeMessageToAdmin" ng-if="$state.current.name != 'writeMessageToAdmin'">{{'MENU_BUTTON_CONTACT_US'|translate}}</a>
        
        <button class="btn-logout" ng-controller="AccountController" ng-click="logout()">{{'MENU_BUTTON_LOGOUT'|translate}}</button>
    </div> 
</div>