<!DOCTYPE html>
<html ng-app="history-timeline" ng-controller="ApplicationController">
	<head>
		<meta name="charset" content="utf-8"/>
		<base href="/"/>
		<title ng-bind="(application.currentPage.title ? $eval(application.currentPage.title) + ' - ' : '') + $state.ApplicationName">History Timeline</title>
		<meta name="viewport" content="user-scalable=no, initial-scale={{application.zoom}}, maximum-scale={{application.zoom}}, minimum-scale={{application.zoom}}, width=device-width, height=device-height, target-densitydpi=medium-dpi" />
		<!-- build:css css/style.css -->
		<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
		
		<link rel="stylesheet" href="css/app.css"/>
		<link rel="stylesheet" href="css/account.css"/>
		<link rel="stylesheet" href="css/comments.css"/>
		<link rel="stylesheet" href="css/contents.css"/>
		<link rel="stylesheet" href="css/events.css"/>
		<link rel="stylesheet" href="css/fonts.css"/>
		<link rel="stylesheet" href="css/timeline.css"/>
		<link rel="stylesheet" href="css/alert-dialog.css"/>
		<link rel="stylesheet" href="css/entrance.css"/>
		<!-- endbuild -->
		<link href='https://fonts.googleapis.com/css?family=Alef:400,700&subset=latin,hebrew' rel='stylesheet' type='text/css'>
		<!-- build:css-development -->
		<!-- endbuild -->
	</head>
	<body ng-controller="CameraController" ng-class="{'hide-scrollbars': application.modalStack > 0}" show-modal="'alert-dialog'" modal-class="'alert-dialog'" activate-on="none" modal-init="displayAlert = $activateModal" watch="$state.appData.domain" watch-change="application.domainImageUrl = $state.appData.domain.logo; application.domainName = $state.appData.domain.name">
		<div class="app-router-view" ui-view autoscroll="true">
		</div>	
		<!-- build:jsVendor js/vendor.js -->
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/ngtouch/build/ngTouch.min.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
		<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="bower_components/angular-facebook/lib/angular-facebook.js"></script>
		<script src="bower_components/angular-translate/angular-translate.js"></script>
		<script src="bower_components/angular-ellipsis/src/angular-ellipsis.js"></script>
		<!-- endbuild -->
		<!-- build:jsConfig js/config.js -->
		<script src="js/history-timeline.module.setup.js"></script>
		<script src="js/history-timeline.config.constants.js"></script>
		<!-- endbuild -->
		<!-- build:js-mockup -->
		<script src="js/history-timeline.config.testing.js"></script>
		<!-- endbuild -->
		<!-- build:jsApp js/scripts.js -->
		<script src="js/history-timeline.config.routing.js"></script>
		<script src="js/history-timeline.config.http.js"></script>
		<script src="js/history-timeline.config.facebook.js"></script>
		<script src="js/history-timeline.config.translation.js"></script>
		<script src="js/services/history-timeline.service.app.js"></script>
		<script src="js/services/history-timeline.service.account.js"></script>
		<script src="js/services/history-timeline.service.timeline.js"></script>
		<script src="js/services/history-timeline.service.misc.js"></script>
		<script src="js/filters/history-timeline.filter.content-likes-counter.js"></script>
		<script src="js/filters/history-timeline.filter.date-selector.js"></script>
		<script src="js/filters/history-timeline.filter.keys.js"></script>
		<script src="js/directives/history-timeline.directive.modals.js"></script>
		<script src="js/directives/history-timeline.directive.watch.js"></script>
		<script src="js/directives/history-timeline.directive.select.js"></script>
		<script src="js/directives/history-timeline.directive.event-selector.js"></script>
		<script src="js/directives/history-timeline.directive.checkbox.js"></script>
		<script src="js/directives/history-timeline.directive.autoresize.js"></script>
		<script src="js/directives/history-timeline.directive.remove-focus.js"></script>
		<script src="js/directives/history-timeline.directive.timeline-bar.js"></script>
		<script src="js/directives/history-timeline.directive.timer.js"></script>
		<script src="js/directives/history-timeline.directive.app-rtl.js"></script>
		<script src="js/directives/history-timeline.directive.fit-to-scroll-height.js"></script>
		<script src="js/controllers/history-timeline.controller.application.js"></script>
		<script src="js/controllers/history-timeline.controller.account.js"></script>
		<script src="js/controllers/history-timeline.controller.home.js"></script>
		<script src="js/controllers/history-timeline.controller.search.js"></script>
		<script src="js/controllers/history-timeline.controller.events.js"></script>
		<script src="js/controllers/history-timeline.controller.entrance-screen.js"></script>
		<script src="js/controllers/history-timeline.controller.contents.js"></script>
		<script src="js/controllers/history-timeline.controller.comments.js"></script>
		<script src="js/controllers/history-timeline.controller.misc.js"></script>
		<script src="js/controllers/history-timeline.controller.camera.js"></script>
		<!-- endbuild -->
		<!-- build:remove -->
		<script src="js/services/history-timeline.service.app-mockup.js"></script>
		<script src="js/services/history-timeline.service.account-mockup.js"></script>
		<script src="js/services/history-timeline.service.timeline-mockup.js"></script>
		<script src="js/services/history-timeline.service.misc-mockup.js"></script>
		<!-- endbuild -->
	</body>
</html>
