<button class="btn-action btn-confirm pull-right" ng-click="$close(); alert.confirmFn()">
    {{alert.confirmBtnText || 'CONFIRM'}}
</button>
<button class="btn-action btn-cancel pull-right" ng-click="$close(); alert.cancelFn()">
    {{alert.cancelBtnText || 'CANCEL'}}
</button>