<div class="form-group contents" watch="fileBlob" watch-change="$value && (application.forceEvent = event) && addToTimeline()">
    <button class="add-new-content app-btn clearfix text-center" ng-click="uploadFile()">
        <span>ADD MORE</span> <img src="/img/add-content-icon.png"/>
    </button>
</div>
<div class="form-group">
    <button class="btn-action" ng-click="$close(); alert.closeBtnAction != null && $eval(alert.closeBtnAction)">
        BACK TO TIMELINE
    </button>
</div>