<div class="contents" ng-init="fileUploadBlob = fileBlob; resetBlob(); !fileUploadBlob && ($stateParams.event ? $state.go('contents', {event:$stateParams.event}) : $state.go('home')); alert = {}; application.forceEvent = null" show-modal="'alert-dialog'" modal-class="'alert-dialog'" activate-on="none" modal-init="displayAlert = $activateModal">
    <div class="header" show-modal="'select-event'" modal-class="'contents background-page'" activate-on="none" modal-init="!$stateParams.event && !event && $activateModal()">
        <div class="clearfix app-container top">
            <a class="pull-left" ng-href="{{$stateParams.event ? $state.href('contents', {event:$stateParams.event}) : $state.href('home') }}">
                <img src="/img/back-arrow.png" />
            </a>
            <a ui-sref="home">
                <div class="domain-logo pull-right">
                    <div class="image cover-height" style="background-image:{{'url(' + application.domainImageUrl + ')'}}"></div>
                </div>
            </a>
            <div class="event-name clearfix text-center">
                <span class="responsive-font-1">{{'ADD_CONTENT_PAGE_LABEL_ADD_CONTENT'|translate}}</span>
            </div>
        </div>
    </div>
    <div class="form-group"></div>
    <form name="form" action="javascript:void(0)" ng-submit="submitContent(event.id || event, contentHeadline, contentDescription, contentCredits, fileUploadBlob, alert, displayAlert)" class="app-form-container">
        <div class="form-group">
            <div class="input-field required" app-rtl>
                <input name="description" type="text" class="form-control" ng-model="contentDescription" ng-keydown="$event.which == 13 && $event.preventDefault()" placeholder="{{'ADD_CONTENT_PAGE_LABEL_DETAILS'|translate}}" required />
            </div>
            <div class="input-field required" app-rtl>
                <input name="credits" type="text" class="form-control" ng-model="contentCredits" ng-keydown="$event.which == 13 && $event.preventDefault()" placeholder="{{'ADD_CONTENT_PAGE_LABEL_CREDITS'|translate}}" required />
            </div>
        </div>
        <div class="form-group clearfix">
            <div class="input-field" ng-if="!$state.ApplicationDirectionRtL">
                <app-checkbox ng-model="acceptTCs" element-required class="pull-left"></app-checkbox>
                <span class="text tcs-text pull-left"> {{'ADD_CONTENT_PAGE_LABEL_ACCEPT'|translate}} <a ui-sref="showInfo({page:'tcs'})" target="_blank">{{'ADD_CONTENT_PAGE_LABEL_TCS'|translate}}</a></span>
            </div>
            <div class="input-field" ng-if="$state.ApplicationDirectionRtL">
                <app-checkbox ng-model="acceptTCs" element-required class="pull-right"></app-checkbox>
                <span class="text tcs-text pull-right"> <a ui-sref="showInfo({page:'tcs'})" target="_blank">{{'ADD_CONTENT_PAGE_LABEL_TCS'|translate}}</a> {{'ADD_CONTENT_PAGE_LABEL_ACCEPT'|translate}} </span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn-submit" ng-disabled="!form.$valid || !fileUploadBlob" value="{{'ADD_CONTENT_PAGE_BUTTON_FORM_SUBMIT'|translate}}" />
        </div>
    </form>
</div>