<div class="contents" ng-init="fetchContents(); contentPreview = {object:null}">
    <div class="header app-ui-fixed" watch="fileBlob" watch-change="$value && addToTimeline()">
        <div class="clearfix app-container top">
            <a class="pull-left" ui-sref="events({year:event.year})">
                <img src="/img/back-arrow.png" />
            </a>
            <a ui-sref="home">
                <div class="domain-logo pull-right">
                    <div class="image cover-height" style="background-image:{{'url(' + application.domainImageUrl + ')'}}"></div>
                </div>
            </a>
            <div class="event-name clearfix text-center" ng-class="{'flip':$state.ApplicationDirectionRtL}">
                <span class="responsive-font-0-25" data-ellipsis data-ellipsis-symbol="..." ng-bind="event.year + ' - ' + event.name" use-parent="true"></span>
            </div>
        </div>
        <a href="javascript:void(0)" ng-click="uploadFile()"><!--show-modal="'add-content'" modal-class="'add-content'" modal-controller="CameraController"-->
            <div class="add-new-content clearfix text-center" ng-class="{'flip':$state.ApplicationDirectionRtL}">
                <img src="/img/add-content-icon.png"/> <span ng-bind="'CONTENT_PAGE_BUTTON_ADD_CONTENT'|translate"></span>
            </div>
        </a>
    </div>
    <div class="header-padding"></div>
    <div class="content-item" ng-repeat="content in contents" ng-init="contentId = content.id; contentType = content.media.type">
        <div class="app-container" ng-if="content.media" ng-click="contentPreview.object = content">
            <div class="image content-image" style="background-image:{{'url('+content.media.url+')'}}">
                <div class="youtube-frame" ng-if="content.media.type == 'video'"></div>
                <iframe ng-src="{{content.media.link}}" ng-if="content.media.type == 'video' && content === contentPreview.object" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="content-details app-container" ng-class="{'app-rtl':$state.ApplicationDirectionRtL, 'flip':$state.ApplicationDirectionRtL}">
            <label>
                {{'CONTENT_PAGE_LABEL_DETAILS'|translate}}
            </label>
            <div class="app-text-collapsed clearfix" data-ellipsis data-ellipsis-append="[...]" data-ellipsis-symbol="" ng-bind="content.details" data-ellipsis-append-click="content.expandDetails = true" ng-if="!content.expandDetails">
            </div>
            <div class="app-text" ng-if="content.expandDetails" ng-bind="content.details">
            </div>
        </div>
        <div class="content-credits app-container" ng-class="{'app-rtl':$state.ApplicationDirectionRtL, 'flip':$state.ApplicationDirectionRtL}">
            <label>
                {{'CONTENT_PAGE_LABEL_CREDITS'|translate}}
            </label>
            <div class="app-text-collapsed clearfix" data-ellipsis data-ellipsis-append="[...]" data-ellipsis-symbol="&nbsp;" ng-bind="content.credits" data-ellipsis-append-click="content.expandCredits = true" ng-if="!content.expandCredits">
            </div>
            <div class="app-text" ng-if="content.expandCredits" ng-bind="content.credits">
            </div>
        </div>
        <div class="social clearfix">
            <div class="app-container">
                <button class="action like pull-left" remove-focus ng-class="{'user-liked-this': content.userLikedThis}" ng-click="toggleLike(event.id, content)"><span>{{content.likesCounter | timelineContentLikes}}</span></button>
                <button class="action send-via-mail pull-left" remove-focus show-modal="'share-via-mail'" modal-class="'contents background-page'"></button>
                <button class="action share-via-fb pull-left" remove-focus ng-click="shareViaFacebook(content)"></button>
                <button class="action report pull-left" remove-focus show-modal="'report-to-admin'" modal-class="'contents background-page'" modal-init></button>
                <button class="toggle-display-comments pull-right" ng-click="content.showComments = !content.showComments"><img src="/img/expand-collapse.png" class="expand img-icon-vertical" ng-class="{expanded:content.showComments}" /> <span class="app-inline-block" ng-class="{'flip':$state.ApplicationDirectionRtL}"><span class="comments-counter">{{content.commentsCounter}}</span> {{'CONTENT_PAGE_LABEL_COMMENTS'|translate}}</span> <img class="img-icon" src="/img/comments-icon.png"/></button>
            </div>
        </div>
        <div class="clearfix comments" ng-include="'/views/partials/comments.html'" ng-if="content.showComments">
        </div>
    </div>
</div>