<div class="history-events" ng-init="getEventsList()">
    <div class="clearfix header app-container top app-ui-fixed">
        <a class="pull-left" ui-sref="home({year:yearItem.year})">
            <img src="/img/back-arrow.png" />
        </a>
        <a ui-sref="home">
            <div class="domain-logo pull-right">
                <div class="image cover-height" style="background-image:{{'url(' + application.domainImageUrl + ')'}}"></div>
            </div>
        </a>
        <div class="year-item clearfix text-center">
            <a class="arrow arrow-left" ng-class="{disabled:!prevYearNumber}" ui-sref="events({year:prevYearNumber})">
                &lt;
            </a>
            <a class="year-value" ui-sref="events({year:yearItem.year})">{{yearItem.year}}</a>
            <a class="arrow arrow-right" ng-class="{disabled:!nextYearNumber}" ui-sref="events({year:nextYearNumber})">
                &gt;
            </a>
        </div>
    </div>
    <div class="header-padding"></div>
    <div class="event-item app-container" ng-repeat="event in events">
        <a ui-sref="contents({event:event.id})">
            <div class="explore-content"></div>
                
            <div class="event-name">
                {{event.name}}
            </div>
            <div class="clearfix" ng-if="event.thumbnails.length">
                <div class="image event-preview" style="background-image:{{'url('+event.thumbnails[0].url+')'}}">
                    <div class="youtube-frame small" ng-if="event.thumbnails[0].type == 'video'"></div>
                </div>
                <div class="image event-preview {{!event.thumbnails[1] ? 'no-image' : ''}}" style="background-image:{{event.thumbnails[1] ? 'url('+(event.thumbnails[1].url)+')' : ''}}">
                    <div class="youtube-frame small" ng-if="event.thumbnails[1] && event.thumbnails[1].type == 'video'"></div>
                </div>
            </div>
            
        </a>
    </div>
    <div class="app-container no-events-found" ng-if="events && events.length == 0">
        <span class="responsive-font-0-25">{{'YEAR_PAGE_NO_EVENTS_FOUND'|translate}}</span>
    </div>
</div>