<div class="timeline cover-height" ng-init="fetchTimeline(); view = {showSideMenu: false, showSearchBox: false, searchBoxFocus: false}">
    <div class="timeline-background" style="background-image: {{'url('+ background.photo + ')'}}">
        <span class="timeline-background-credit">{{background.credit}}</span>
    </div>
    <div class="header" ng-class="{'menu-opened':view.showSideMenu}" watch="fileBlob" watch-change="$value && $state.go('addToTimeline')">
        <div class="clearfix app-container top">
            <a class="pull-left" ui-sref="home" ng-click="$event.preventDefault(); view.showSideMenu = !view.showSideMenu; view.showSearchBox = false">
                <img src="/img/menu.png" ng-if="!view.showSideMenu" />
                <img src="/img/back-arrow.png" ng-if="view.showSideMenu" />
            </a>
            <a ui-sref="home">
                <div class="domain-logo pull-right">
                    <div class="image cover-height" style="background-image:{{'url(' + application.domainImageUrl + ')'}}"></div>
                </div>
            </a>
            <div class="page-title clearfix text-center">
                <span class="title-text" ng-class="{'flip':$state.ApplicationDirectionRtL}">
                    <span class="app-name" ng-bind="$state.ApplicationName"></span>
                    <span class="domain-name" ng-bind="application.domainName"></span>
                </span>
            </div>
        </div>
    </div>
    <div class="search-box clearfix text-center" ng-class="{show: view.showSearchBox}">
        <div class="placeholder" ng-class="{hide: view.search || view.searchBoxFocus}">
            {{'HOME_LABEL_SEARCH_EVENT'|translate}} <img src="/img/search-icon.png" />
        </div>
        <app-event-selector ng-model="view.event" placeholder="" prevent-event-selection autocomplete="0" no-search-by-empty-query on-internal-change="view.search = $value" on-hit-enter="view.search.trim() && $state.go('search', {q:view.search})" on-focus="view.searchBoxFocus = true" on-blur="view.showSearchBox = false; view.searchBoxFocus = false; $clear()" on-init="view.focusSearchBox = $focus">
        </app-event-selector>
    </div>
    <button class="search-btn" ng-class="{hide: view.showSideMenu}" ng-click="view.showSearchBox = true; view.focusSearchBox()" remove-focus>
        <img src="/img/search-icon-black.png" />
    </button>
    <div class="add-to-timeline">
        <button ng-click="uploadFile()">
            <span>
                <img src="/img/add-content-icon.png"/>
                <span>{{'HOME_BUTTON_ADD_CONTENT'|translate}}</span>
            </span>
        </button>
    </div>
</div>
<div class="timeline-bar" ng-init="startFromYear = $stateParams.year">
    <app-timeline-bar ng-model="timelineYearIndex" get-more-data="cursor != null && fetchTimeline()"></app-timeline-bar>
    <div class="timeline-contents">
        <div class="timeline-events clearfix" ng-if="timelineYearIndex != null" ng-class="{'timeline-content-has-2-events': timeline[timelineYearIndex].events.length >= 2, 'timeline-content-has-3-events': timeline[timelineYearIndex].events.length >= 3}">
            <a ng-repeat="item in timeline[timelineYearIndex].events" ui-sref="contents({event:item.id})">
                <div class="timeline-event" ng-class="{'flip':$state.ApplicationDirectionRtL}">
                    {{item.name}}
                </div>
            </a>
            
            <a ng-if="timeline[timelineYearIndex].hasMoreEvents" ui-sref="events({year: timeline[timelineYearIndex].year})" class="timeline-explore-more">
                <div class="timeline-event">
                    {{'HOME_BUTTON_SHOW_MORE_EVENTS'|translate}}
                </div>
            </a>
            <div ng-if="!timeline[timelineYearIndex].events.length" class="timeline-no-more-events">
                {{'HOME_LABEL_NO_EVENTS'|translate}}
            </div>
        </div>
    </div>
</div>
<div ng-include="'/views/partials/sidemenu.html'"></div>