<div class="history-events" ng-init="view = {searchBoxFocus: false}; getEventsList()">
    <div class="clearfix header app-container top app-ui-fixed">
        <a class="pull-left" ui-sref="home">
            <img src="/img/back-arrow.png" />
        </a>
        <a ui-sref="home">
            <div class="domain-logo pull-right">
                <div class="image cover-height" style="background-image:{{'url(' + application.domainImageUrl + ')'}}"></div>
            </div>
        </a>
        <div class="search-box clearfix text-center input-field">
            <input type="text" class="form-control" ng-model="view.search" placeholder="" ng-focus="view.searchBoxFocus = true" ng-blur="view.searchBoxFocus = false;" ng-init="view.search = $stateParams.q" ng-keydown="$event.which == 13 && ($event.preventDefault()||1) && search(view.search)">
        </div>
        <button class="search-btn" remove-focus ng-click="search(view.search)">
            <img src="/img/search-icon-black.png" />
        </button>
    </div>
    <div class="header-padding"></div>
    <div class="event-item app-container" ng-repeat="event in events">
        <a ui-sref="contents({event:event.id})">
            <div class="explore-content"></div>
                
            <div class="event-name">
                <span ng-bind-html="event.html" class="search-result"></span> - {{event.year}}
            </div>
            <div class="clearfix" ng-if="event.thumbnails.length">
                <div class="image event-preview" style="background-image:{{'url('+event.thumbnails[0].url+')'}}">
                    <div class="youtube-frame small" ng-if="event.thumbnails[0].type == 'video'"></div>
                </div>
                <div class="image event-preview {{!event.thumbnails[1] ? 'no-image' : ''}}" style="background-image:{{event.thumbnails[1] ? 'url('+(event.thumbnails[1].url)+')' : ''}}">
                    <div class="youtube-frame small" ng-if="event.thumbnails[1] && event.thumbnails[1].type == 'video'"></div>
                </div>
            </div>
            
        </a>
    </div>
    <div class="app-container no-events-found" ng-if="events && events.length == 0">
        <span class="responsive-font-0-25">{{'YEAR_PAGE_NO_EVENTS_FOUND'|translate}}</span>
    </div>
</div>