@import "settings";

$inputFieldBorderColor: #ccc;
$inputFieldBorderWidth: 1px;

.account {
    &.account-content {
        padding-bottom: 50px;
        color: #4d4d4d;
        
        @media(min-height:600px) {
            padding-bottom: 100px;
        }
    }
    
    .btn-submit {
        background: #f37426;
        border: none;
        color: #fff;
        width: 100%;
        font-weight: bold;
        font-size: 22px;
        padding: 10px 5px;
        
        &:disabled {
            background: #f2b28b;
        }
        
        @media (min-height: 800px) {
            height: 70px;
            font-size: 30px;
        }
    }
    
    .facebook-btn {
        background-color: #3b5999;
        background-image: url(/img/facebook-1.png);
        background-position: 5px center;
        background-size: auto 35px;
        background-repeat: no-repeat;
        padding: 5px 5px 5px 35px;
        border: none;
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        line-height: 40px;
        color: #fff;
        
        @media (min-height: 800px) {
            background-size: auto 45px;
            font-size: 25px;
            line-height: 60px;
        } 
    }
    .option {
        display: inline-block;
        width: 50%;
        float: left;
        font-size: 17px;
        
        span {
            display: inline-block;
            line-height: 1em;
            vertical-align: middle;
        }
        
        .link {
            line-height: 40px;
        }
    }
    
    
    .remember-me-wrapper {
        padding-left: 45px;
        position: relative;
        height: 40px;
        line-height: 40px;
        
        
        label {
            word-wrap: break-word;
            line-height: 1em;
            font-weight: normal;
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            cursor: pointer;
            span {
                float: left;
            }
        }
        
        .remember-me-checkbox {
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -17.5px;
        }
        
        
    }
    
    .app-rtl {
        .remember-me-wrapper {
            padding-left: 0;
            padding-right: 45px;
                
            .remember-me-checkbox {
                left: auto;
                right: 0;
            }
            
            label {
                direction: rtl;
            }
        }
            
        .link {
            direction: rtl;
        }
    }
    
    .suggest-login {
        display: inline-block;
        vertical-align:middle;
        font-size: 23px;
        line-height: 23px;
        span {
            display: inline-block;
        }
        &.app-rtl {
            direction: rtl;
        }
    }
    
    &.app-footer {
        clear: both;
        position: relative;
        margin-top: -50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 20px;
        
        @media(min-height:600px) {
            margin-top: -100px;
            height: 100px;
            line-height: 100px;
        }
    }
    
    
    .app-label {
        font-weight: bold;
        font-size: 18px;
    }
    
    .app-checkbox {
        border: 1px solid $inputFieldBorderColor;
    }
    
    .input-field {
        position: relative;
        font-size: 24px;
        
        .text {
            font-size: 24px;
            text-transform: uppercase;
            margin: 0 5px;
        }
        
        input {
            margin: 0;
            border-left: $inputFieldBorderWidth solid $inputFieldBorderColor;
            border-right: $inputFieldBorderWidth solid $inputFieldBorderColor;
            border-bottom: $inputFieldBorderWidth solid $inputFieldBorderColor;
            border-top: none;
            border-radius: 0;
            padding-left: 10px;
            padding-right: 10px;
            height: 50px;
            font-weight: bold;
            font-size: 32px;
            
            &.input-border {
                border: $inputFieldBorderWidth solid $inputFieldBorderColor !important;
            }
            
            &.no-top-border {
                border-top: none !important;
            }
            
            @media (min-height: 800px) {
                height: 70px;
                font-size: 35px;
            }
        }
        
        &.app-rtl input {
            text-align: right;
        }
        
        &.required input {
            padding-left: 35px;
        }
        
        &.app-rtl.required input {
            padding-left: 10px;
            padding-right: 35px;
        }
        
        
        textarea {
            margin: 0;
            border-radius: 0;
            text-align: right;
            border: $inputFieldBorderWidth solid $inputFieldBorderColor !important;
            font-weight: bold;
            padding: 10px;
            
            &.message-field {
                height: 8.5em;
                font-size: 18px;
            }
        }
        
        &.required:before {
            content: '*';
            display: inline-block;
            position: absolute;
            color: #f37426;
            top: 50%;
            left: 15px;
            margin-top: -0.5em;
            font-weight: bold;
            font-size: 24px;
        }
        
        &.app-rtl.required:before {
            left: auto;
            right: 15px;
        }
        
        &:first-child {
            input, textarea {
                border-top: $inputFieldBorderWidth solid $inputFieldBorderColor;
            }
        }
    }
    
    .page-title {
        line-height: 60px;
        margin: 0 50px;
        span {
            display: inline-block;
            font-size: 25px;
            line-height: 1.02em;
            font-weight: bold;
            text-transform: uppercase;
            text-overflow: ellipsis;
            vertical-align: middle;
            font-family: 'Alef', sans-serif;
            
            @media (min-width: 512px) {
                font-size: 30px;
            }
            
            @media (min-width: 768px) {
                font-size: 35px;
            }
            
            @media (min-width: 1024px) {
                font-size: 40px;
            }
        }
    }
    
    .header {
        box-shadow: 0 3px 4px rgba(0,0,0,0.25);
        margin: 0 0 5px;
    }
    
    .separator-or {
        font-size: 20px;
        font-weight: bold;
    }
}