
@import "settings";

.alert-dialog {
    background: rgba(0, 0, 0, 0.5);
    
    .alert-container {
        border: 2px solid #777;
        margin: 80px auto 10px;
        background: #fff;
        padding: 10px;
        max-width: 500px;
        
        @media(max-width:520px) {
            margin-left: 15px;
            margin-right: 15px;
        }
        
        .top-bar {
            min-height: 40px;
            .btn-close {
                width: 40px;
                height: 40px;
                border: none;
                background: url(/img/close-dialog.png) no-repeat center;
            }
        }
        
        .icon {
            margin: 30px 0 10px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            height: 64px;
        }
        
        .title {
            margin: 20px 0;
            text-align: center;
            font-size: 22px;
            font-weight: bold;
            //direction: rtl;
        }
        
        .text {
            margin: 0 0 10px;
            text-align: center;
            font-size: 18px;
            //direction: rtl;
            min-height: 100px;
        }
        
        .actions {
            .btn-action {
                width: 100%;
                color: #37a8a0;
                font-size: 22px;
                font-weight: bold;
                background: none;
                border: none;
                padding: 10px;
                
                &.btn-confirm, &.btn-cancel {
                    width: 50%;
                    
                    &.btn-cancel {
                        color: $pageTextColor;
                    }
                }
            }
        }
    }
}