
@import "settings";

html {
	background: $pageBgColor;
}

body {
	font-family: 'Alef', sans-serif;
}

html,body
{
  height: 100% !important;
  margin: 0;
  padding: 0;
}

.cover-height {
	min-height: 100%;
	//padding-bottom: 50px;
}

input, textarea {
	font-family: 'Alef', sans-serif;
}

a {
	color: #37a8a0;
	&:hover {
    	text-decoration: none;
	}
	&:focus {
		text-decoration: none;
	}
}

button:focus {
	outline: none;
}

body, .background-page {
	background: $pageBgColor !important;
	color: $pageTextColor;
}

.domain-logo {
	width: 50px;
	height: 100%;
	padding: 5px 0;
}

.back-button {
	width: 45px;
	height: 45px;
	background: url(/img/back-arrow.png);
	//margin-top: 20px;
	display: block;
	top: 50%;
}

.app-router-view {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.app-container {
	position: relative;
	padding-left: 24px;
	padding-right: 24px;
}

.app-form-container {
	position: relative;
	padding: 0 24px;
    max-width: 768px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	background: $headerBgColor;
	margin: 0 0 12px;
	padding-top: 3px;
	position: relative;
}

.top {
	height: 60px;
	line-height: 60px;
}

.app-ui-fixed {
	position: fixed;
}

.image {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.youtube-frame {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(/img/youtube-play.png);
	
	&.small {
		background-image: url(/img/youtube-play-small.png);
	} 
}

.timeline-modal {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(255,255,255,0.95);
	z-index: 10;
	.timeline-modal-content {
		position:absolute;
		width: 100%;
		height: 100%;
		overflow: auto;
	}
}

.hide-scrollbars {
	overflow: hidden;
}

.autoresize-animate {
	transition: height 1s ease;
}

.app-checkbox {
	position: relative;
	width: 35px;
	height: 35px;
	background: #fff;
	border: none;
	display: inline-block;
	
	&.checked {
		background-image: url(/img/checkbox-check-icon.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 75% auto;
	}
}

.non-selectable-text {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.flip {
	direction: rtl;
}

.app-inline-block {
	display: inline-block;
}

.app-event-selector {
	position: relative;
	.dropdown {
		position: absolute;
		z-index: 1;
		top: 100%;
		left: 0;
		right: 0;
		list-style: none;
		display: block;
		padding-left: inherit;
		border: 1px solid #ccc;
		.dropdown-item {
            word-wrap: break-word;
			display: block;
			background: #fff;
			a {
				color: inherit;
				display: block;
				padding: 10px;
			}
			button {
				padding: 10px;
				width: 100%;
				background: none;
				border: none;
				font-weight: bold;
				text-align: left;
			}
			.no-events-text {
				padding: 10px 10px;
				color: #aaa;
			}
			
			&.app-rtl {
				a, button {
					text-align: right;
				}
			}
		}
	}
	
	&.required {
		.dropdown {
			.dropdown-item {
				a, button {
					padding-left: 20px;
				}
				
				&.app-rtl {
					a, button {
						padding-left: 10px;
						padding-right: 20px;
					}
				}
			}
		}
	}
}

.map-background {
    background: #6fc5d2 url(/img/bg-1.jpg) center 40px no-repeat;
	background-size: 100% auto;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
	margin: 0;
}

.company-logo {
    margin: 10px 0;
    img {
        height: 60px;
        width: auto;
    }
        
    @media (min-width: 350px){
        img {
            height: 80px;
        }
    }
        
    @media (min-width: 540px){
        img {
            height: 100px;
        }
    }
	
	@media (min-height: 350px){
        margin: 20px 0;
    }
        
    @media (min-height: 540px){
        margin: 60px 0;
	}
        
    @media (min-height: 800px) {
        margin: 50px 0;
        img {
            height: 130px;
        }
    }
}

.form-label {
    font-size: 20px;
}

.responsive-font-2 {
	font-size: 1em;
	
	@media(min-width:450px){
		font-size: 1.4em;
		line-height: 1.1em;
	}
	
	@media(min-width:512px){
		font-size: 1.8em;
		line-height: 1.1em;
	}
	
	@media(min-width:768px){
		font-size: 2.2em;
		line-height: 1.1em;
	}
	
	@media(min-width:1024px){
		font-size: 2.6em;
		line-height: 1.1em;
	}
	
	@media(min-width:1280px){
		font-size: 3.0em;
		line-height: 1.1em;
	}
}

.responsive-font-1 {
	font-size: 1em;
	
	@media(min-width:450px){
		font-size: 1.1em;
		line-height: 1.1em;
	}
	
	@media(min-width:512px){
		font-size: 1.2em;
		line-height: 1.1em;
	}
	
	@media(min-width:768px){
		font-size: 1.4em;
		line-height: 1.1em;
	}
	
	@media(min-width:1024px){
		font-size: 1.8em;
		line-height: 1.1em;
	}
	
	@media(min-width:1280px){
		font-size: 2.2em;
		line-height: 1.1em;
	}
}

.responsive-font-0-5 {
	font-size: 1em;
	
	@media(min-width:512px){
		font-size: 1.1em;
		line-height: 1.1em;
	}
	
	@media(min-width:768px){
		font-size: 1.2em;
		line-height: 1.1em;
	}
	
	@media(min-width:1024px){
		font-size: 1.3em;
		line-height: 1.1em;
	}
	
	@media(min-width:1280px){
		font-size: 1.4em;
		line-height: 1.1em;
	}
}

.responsive-font-0-25 {
	font-size: 1em;
	
	@media(min-width:512px){
		font-size: 1.05em;
		line-height: 1.1em;
	}
	
	@media(min-width:768px){
		font-size: 1.1em;
		line-height: 1.1em;
	}
	
	@media(min-width:1024px){
		font-size: 1.15em;
		line-height: 1.1em;
	}
	
	@media(min-width:1280px){
		font-size: 1.2em;
		line-height: 1.1em;
	}
}

.http-error-code {
	font-size: 7em;
}