@import "settings";

.comments {
    background: #37a8a0;
    color: #d7edec;
    font-size: 22px;
    
    .add-comment {
        position: relative;
        
        margin: 10px;
        
        *::-webkit-input-placeholder {
            color: #fff;
        }
        *:-moz-placeholder {
            /* FF 4-18 */
            color: #fff;
        }
        *::-moz-placeholder {
            /* FF 19+ */
            color: #fff;
        }
        *:-ms-input-placeholder {
            /* IE 10+ */
            color: #fff;
        }
        
        input, textarea {
            width: 100%;
            border: 1px solid #d7edec;
            background: transparent;
            font-size: 22px;
            padding: 10px;
            text-align: left;
            resize: none;
            
            &.app-rtl {
                text-align: right;
                direction: rtl;
            }
        }
        
        textarea.focus {
            height: 6em;
            padding: 0 10px;
        }
        
        button {
            background: #f37426;
            border: none;
            color: #fff;
            width: 100%;
            font-weight: bold;
            font-size: 22px;
            padding: 10px 5px;
            font-family: 'Alef', sans-serif;
        
            &:disabled {
                background: #f2b28b;
            }
        }
    }
    
    .comment {
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        font-family: 'Alef', sans-serif;
        position: relative;
        min-height: 48px;
        
        .profile {
            position:absolute;
            left: 0;
            top: 0;
            width: 48px;
            height: 48px;
            background-image: url(/img/profile.png);
            
            &.app-rtl {
                left: auto;
                right: 0;
            }
        }
        
        .comment-text {
            text-align: left;
            margin-left: 58px;
            font-size: 22px;
            font-family: 'Alef', sans-serif;
            word-wrap: break-word;
            .app-text-collapsed, .app-text {
                white-space: pre-line;
            }
            
            &.app-rtl {
                text-align: right;
                margin-left: 0;
                margin-right: 58px;
                direction: rtl;
            }
        }
    }
    
    .show-more {
        font-size: 22px;
        height: 50px;
    }
}