@import "settings";

$inputFieldBorderColor: #ccc;
$inputFieldBorderWidth: 1px;

.contents {
    
    
    .add-new-content {
        background-color: #f37426;
        background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.15) 100%);
        height: 90px;
        line-height: 90px;
        border-bottom: 5px solid #fff;
        color: #fff;
        font-weight: bold;
        font-size: 22px;
        text-transform: uppercase;
        text-decoration: none;
        
        &.app-btn {
            width: 100%;
            border: none;
        }
        
        span {
            vertical-align: middle;
            font-family: 'Alef', sans-serif;
        }
    }
    
    .add-content-container {
        margin: 0 10px;
    }
    
    .add-event-date-container {
        width: 33.33%;
        padding-left: 5px;
        
        &:first-child {
            padding-left: 0;
        }
    }
    
    .btn-submit {
        background: #f37426;
        border: none;
        color: #fff;
        width: 100%;
        font-weight: bold;
        font-size: 22px;
        padding: 15px 5px;
        
        &:disabled {
            background: #f2b28b;
        }
    }
    
    .app-label {
        font-weight: bold;
        font-size: 18px;
    }
    
    .new-event-label {
        font-size: 18px;
        color: #9e9e9e;
    }
    
    .app-select {
	    select {
		    width: 100%;
		    -webkit-appearance: none;
		    -moz-appearance: none;
		    appearance: none;
		    padding-top: 8px;
            padding-bottom: 8px;
            font-weight: bold;
            font-size: 25px;
            padding-left: 40px;
	    }
        
        input {
            width: 100%;
            font-size: 18px !important;
            //font-weight: normal !important;
            
            @media(min-width:512px) {
                font-size: 25px !important;
            }
        }
        
        .dropdown {
            position: absolute;
            top: 100%;
            left: 0;
            background: #fff;
            width: 100%;
            list-style: none;
            z-index: 1;
            max-height: 10em;
            overflow: auto;
            border: 1px solid $inputFieldBorderColor;
            font-size: 15px;
            padding: inherit;
            
            @media(min-width:512px) {
                font-size: 25px;
            }
            
            .app-select-item {
                padding: 5px 10px;
                display: block;
                width:100%;
            }
        }
        
        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            right: 10px;
            top: 0;
            height: 100%;
            width: 12px;
            @media(min-width:512px) {
                width: 25px;
            }
            background: url(/img/dropdown.png) center no-repeat;
            background-size: 100% auto;
        }
        
        &.app-rtl {
            &:after {
                right: auto;
                left: 10px;
            }
            
            .app-select-item {
                text-align: right;
            }
        }
        
        
    }
    
    .app-event-selector .dropdown .dropdown-item {
        font-size: 18px;
        a, button {
            font-size: inherit;
        }
    }
    
    .input-field {
        position: relative;
        font-size: 24px;
        
        .tcs-text {
            font-size: 14px;
            text-transform: uppercase;
            margin-right: 10px;
            margin-left: 10px;
            line-height: 35px;
            color: #9e9e9e;
            
            @media (min-width:480px) {
                font-size: 24px;
            }
        }
        .app-checkbox {
            border: 1px solid $inputFieldBorderColor;
        }
        input {
            margin: 0;
            border-left: $inputFieldBorderWidth solid $inputFieldBorderColor;
            border-right: $inputFieldBorderWidth solid $inputFieldBorderColor;
            border-bottom: $inputFieldBorderWidth solid $inputFieldBorderColor;
            border-top: none;
            border-radius: 0;
            text-align: left;
            padding-left: 10px;
            padding-right: 10px;
            height: 50px;
            font-weight: bold;
            font-size: 18px;
            
            &.input-border {
                border: $inputFieldBorderWidth solid $inputFieldBorderColor !important;
            }
            
            &.no-top-border {
                border-top: none !important;
            }
            
            &.responsive-text {
                font-size: 18px !important;
            
                @media(min-width:512px) {
                    font-size: 25px !important;
                }
            }
            
            @media (min-height: 800px) {
                height: 70px;
                font-size: 25px;
            }
        }
        
        textarea {
            margin: 0;
            border-radius: 0;
            text-align: left;
            border: $inputFieldBorderWidth solid $inputFieldBorderColor !important;
            font-weight: bold;
            padding: 10px;
            
            &.message-field {
                height: 8.5em;
                font-size: 18px;
            }
            
            @media (min-height: 800px) {
                padding: 20px;
                
                &.message-field {
                    font-size: 25px;
                }
            }
        }
        
        &.app-rtl input, &.app-rtl textarea {
            text-align: right;
        }
        
        &.required:before {
            content: '*';
            display: inline-block;
            position: absolute;
            color: #f37426;
            top: 50%;
            left: 5px;
            margin-top: -0.5em;
            font-weight: bold;
            font-size: 24px;
            @media (min-height: 800px) {
                left: 10px;
            }
        }
        
        &.required.app-rtl:before {
            left: auto;
            right: 5px;
                
            @media (min-height: 800px) {
                right: 10px;
            }
        } 
        
        &.required {
            input {
                padding-left: 20px;
                @media (min-height: 800px) {
                    padding-left: 30px;
                }
            }
            
            &.app-rtl {
                input {
                    padding-left: 10px;
                    padding-right: 20px;
                    @media (min-height: 800px) {
                        padding-right: 30px;
                    }
                }
            }
        } 
        
        &.search-icon {
            input {
                padding-right: 40px;
                
                @media (min-height: 800px) {
                    padding-right: 45px;
                }
            }
            
            &.app-rtl {
                input {
                    padding-left: 40px;
                    padding-right: 10px;
                
                    @media (min-height: 800px) {
                        padding-left: 45px;
                    }
                }
                
                &.required {
                    input {
                        padding-right: 20px;
                    }
                }
            }
             
            &:after {
                content: '';
                display: inline-block;
                position: absolute;
                right: 10px;
                top: 0;
                height: 100%;
                width: 29px;
                background: url(/img/search-icon.png) center no-repeat;
                @media (min-height: 800px) {
                    right: 15px;
                }
            }
            
            &.app-rtl:after {
                right: auto;
                left: 10px;
                
                @media (min-height: 800px) {
                    left: 15px;
                }
            }
        }
        
        &:first-child {
            input, textarea {
                border-top: $inputFieldBorderWidth solid $inputFieldBorderColor;
            }
        }
    }
    
    .event-name, .page-title {
        line-height: 60px;
        margin: 0 50px;
        height: 60px;
        font-size: 18px;
        
        span {
            display: inline-block;
            line-height: 1.5em;
            font-weight: bold;
            text-transform: uppercase;
            vertical-align: middle;
        }
    }
    
    .header {
        box-shadow: 0 5px 10px rgba(0,0,0,0.15);
        margin: 0 0 5px;
        top: 0;
        width: 100%;
        z-index: 10;
    }
    
    .header-padding {
        height: 60px+100px;
        margin-bottom: 5px+10px;
    }
    
    .content-item {
        box-shadow: 0 3px 4px darken($pageBgColor, 5%);
        margin: 0 0 20px;
        padding-top: 5px;
        background: $eventItemBackgroundColor;
        clear: both;
        
        label {
            margin: 0;
            text-transform: uppercase;
        }
        
        .app-text-collapsed {
            max-height: 1.2em*4;
            span {
                font-weight: bold;
                cursor: pointer;
                //margin-left: 5px;
                margin-right: 5px;
            }
        }
        
        .content-details {
            margin-bottom: 10px;
            word-wrap: break-word;
            font-size: 20px;
            
            label {
                display: block;
            }
            
            .app-rtl {
                text-align: right;
            }
        }
        
        .content-credits {
            margin-bottom: 10px;
            word-wrap: break-word;
            font-size: 20px;
            
            label {
                display: block;
            }
            
            .app-rtl {
                text-align: right;
            }
        }
        
        .social {
            //border-top: 1px solid #dbdcdc;
            //background-color: #f9fafa;
            padding-top: 10px;
            padding-bottom: 25px;
            
            button.action {
                border: none;
                background-color: transparent;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                padding-right: 35px; // width
                height: 24px;
                line-height: 24px;
                margin-left: 6%;
                
                @media (min-width: 540px) {
                    padding-right: 35px;
                    height: 26px;
                    line-height: 26px;
                    //margin-left: 70px;
                }
                
                @media (min-width: 768px) {
                    padding-right: 40px;
                    height: 28px;
                    line-height: 28px;
                    //margin-left: 80px;
                }
                
                @media (min-width: 1024px) {
                    padding-right: 45px;
                    height: 35px;
                    line-height: 35px;
                    //margin-left: 90px;
                }
                
                &:first-child {
                    margin-left: 0;
                }
            
                &.like {
                    background-image: url(/img/fav.png);
                    background-position: right center;
                    color: #6c6c6c;
                    font-size: 20px;
                    overflow: visible;
                    font-family: 'Alef', sans-serif;
                    vertical-align: middle;
                    
                    span {
                        position: relative;
                        top: -2px;
                    }
                    
                    &.user-liked-this {
                        color: #f00;
                        background-image: url(/img/fav-1.png);
                    }
                }
                
                &.share-via-fb {
                    background-image: url(/img/facebook.png);
                }
                
                &.send-via-mail {
                    background-image: url(/img/mail.png);
                }
                
                &.report {
                    background-image: url(/img/report.png);
                }
            }
            
            button.toggle-display-comments {
                color: #6c6c6c;
                background: transparent;
                border: none;
                font-weight: bold;
                font-size: 15px;
                line-height: 20px;
                height: 20px;
                display: inline-block;
                font-family: 'Alef', sans-serif;
                
                .comments-counter {
                    font-size: 1.25em;
                }
                
                @media (min-width: 540px) {
                    font-size: 13px;
                    line-height: 26px;
                    height: 26px;
                }
                
                @media (min-width: 768px) {
                    font-size: 14px;
                    line-height: 28px;
                    height: 28px;
                }
                
                @media (min-width: 1024px) {
                    font-size: 15px;
                    line-height: 30px;
                    height: 30px;
                }
                
                @media (min-width: 1280px) {
                    font-size: 18px;
                    line-height: 36px;
                    height: 36px;
                }
                
                @media (min-width: 1680px) {
                    font-size: 18px;
                    line-height: 36px;
                    height: 36px;
                }
                
                @media (min-width: 1920px) {
                    font-size: 18px;
                    line-height: 36px;
                    height: 36px;
                }
                
                .img-icon {
                    height: 26px;
                    width: auto;
                    @media (min-width: 540px) {
                        height: 30px;
                    }
                    
                    @media (min-width: 768px) {
                        height: 30px;
                    }
                    
                    @media (min-width: 1024px) {
                        height: 35px;
                    }
                }
                
                .img-icon-vertical {
                    width: auto;
                    height: 6px;
                    
                    @media (min-width: 540px) {
                        height: 8px;
                    }
                
                    @media (min-width: 768px) {
                        height: 10px;
                    }
                    
                    @media (min-width: 1024px) {
                        height: 12px;
                    }
                    
                    @media (min-width: 1280px) {
                        height: 12px;
                    }
                
                    @media (min-width: 1680px) {
                        height: 12px;
                    }
                    
                    @media (min-width: 1920px) {
                        height: 12px;
                    }
                }
                
                .expand.expanded {
                    transform: rotate(180deg);
                }
            }
        }
        
        .content-image {
            position: relative;
            margin-bottom: 15px;
            height: 240px;
            background-color: #fff;
            cursor: pointer;
            
            iframe {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }
            
            @media (min-width: 540px) {
                height: 370px;
            }
            
            @media (min-width: 768px) {
                height: 440px;
            }
            
            @media (min-width: 1024px) {
                height: 560px;
            }
            
            @media (min-width: 1280px) {
                height: 780px;
            }
            
            @media (min-width: 1680px) {
                height: 840px;
            }
            
            @media (min-width: 1920px) {
                height: 940px;
            }
        }
    }
    
    .static-text {
        font-size: 18px;
        
        .app-rtl {
            direction: rtl;
            text-align: right;
        }
    }
    
    .contact-us-about-text {
        margin-top: 40px;
        font-size: 18px;
    }
    
    [data-ellipsis] span {
        display: inline-block;
        margin: 0 10px;
    }
}