@import "settings";

$inputFieldBorderColor: #fff;
$inputFieldBorderWidth: 3px;


.entrance {
    position: relative;
    clear: both;
    padding-top: 50px;
    padding-bottom: 10px;
    
    .embedded {
        margin-top: 20px;
        margin-bottom: 20px;
        img {
            height: 60px;
            width: auto;
        }
        
        @media (min-height: 600px){
            img {
                height: 100px;
            }
        }
        
        @media (min-height: 600px){
            margin-bottom: 100px;
        }
        
        @media (min-height: 800px) {
            margin-bottom: 100px;
            img {
                height: 100px;
            }
        }
        
    }
    
    .app-select {
	    select {
		    width: 100%;
		    -webkit-appearance: none;
		    -moz-appearance: none;
		    appearance: none;
		    padding-top: 8px;
            padding-bottom: 8px;
            font-weight: bold;
            font-size: 25px;
            padding-left: 40px;
	    }
        
        input {
            width: 100%;
            font-size: 18px !important;
            //font-weight: normal !important;
            background: none;
            
            @media(min-width:512px) {
                font-size: 25px !important;
            }
            
            &::-webkit-input-placeholder {
                color: #333;
            }

            &:-moz-placeholder { /* Firefox 18- */
                color: #333;  
            }

            &::-moz-placeholder {  /* Firefox 19+ */
                color: #333;  
            }

            &:-ms-input-placeholder {  
                color: #333;  
            }
        }
        
        .dropdown {
            position: absolute;
            top: 100%;
            left: 0;
            background: #fff;
            width: 100%;
            list-style: none;
            z-index: 1;
            max-height: 10em;
            overflow: auto;
            border: 1px solid $inputFieldBorderColor;
            font-size: 15px;
            padding: inherit;
            box-shadow: 0 0 5px rgba(0,0,0,0.25);
            
            @media(min-width:512px) {
                font-size: 25px;
            }
            
            .app-select-item {
                text-align: right;
                padding: 5px 10px;
                display: block;
                width:100%;
                cursor: pointer;
            }
        }
        
        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            left: 10px;
            top: 0;
            height: 100%;
            width: 12px;
            @media(min-width:512px) {
                width: 25px;
            }
            background: url(/img/dropdown-white.png) center no-repeat;
            background-size: 100% auto;
        }
    }
    
    .flag {
        position: absolute;
        left: 0;
        top: 0;
        right: 10px;
        height: 100%;
        background-position: right center;
        background-repeat: no-repeat;
        background-size: auto 75%;
        
        .lang-text {
            position: absolute;
            display: block;
            top: 50%;
            margin-top: -0.5em;
            white-space: nowrap;
            height: 1em;
            right: 60px;
            left: 50px;
            line-height: 1em;
            font-weight: bold;
            text-align: right;
            overflow: hidden;
            text-overflow: ellipsis;
            
            @media (min-height: 800px) {
                right: 80px;
            }
        }
    }
        
    .flag-container {
        position: relative;
        height: 50px;
        
        @media (min-height: 800px) {
            height: 70px;
        }
    }
    
    .flag-select {
        input {
            color: transparent;
        
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        .dropdown .app-select-item {
            padding: 0;
        }
    } 
    
    .input-field {
        position: relative;
        font-size: 24px;
        
        .tcs-text {
            font-size: 14px;
            text-transform: uppercase;
            margin-right: 10px;
            line-height: 35px;
            color: #9e9e9e;
            
            @media (min-width:480px) {
                font-size: 24px;
            }
        }
        .app-checkbox {
            border: 1px solid $inputFieldBorderColor;
        }
        input {
            margin: 0;
            border-left: $inputFieldBorderWidth solid $inputFieldBorderColor;
            border-right: $inputFieldBorderWidth solid $inputFieldBorderColor;
            border-bottom: $inputFieldBorderWidth solid $inputFieldBorderColor;
            border-top: none;
            border-radius: 5px;
            text-align: right;
            padding-left: 10px;
            padding-right: 10px;
            height: 50px;
            font-weight: bold;
            font-size: 18px;
            
            &.input-border {
                border: $inputFieldBorderWidth solid $inputFieldBorderColor !important;
            }
            
            &.no-top-border {
                border-top: none !important;
            }
            
            &.responsive-text {
                font-size: 18px !important;
            
                @media(min-width:512px) {
                    font-size: 25px !important;
                }
            }
            
            @media (min-height: 800px) {
                height: 70px;
                font-size: 25px;
            }
        }
        
        
        &:first-child {
            input, textarea {
                border-top: $inputFieldBorderWidth solid $inputFieldBorderColor;
            }
        }
    }
    
    .object-container {
        width: 50%;
        max-width: 300px;
        padding-left: 10px;
        margin-top: 10px;
        height: 50px;
        line-height: 50px;
        
        &:first-child {
            padding-left: 0;
            padding-right: 10px;
        }
        
        @media (min-width: 450px) {
            height: 75px;
            line-height: 75px;
        } 
    }
    
    label {
        font-size: 18px;
        line-height: 1em;
        margin: 0;
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        cursor: pointer;
        font-weight: normal;
        text-shadow: 0 0 2px #000;
    }
    
    .app-checkbox {
        background-color: transparent;
    }
    
    button.accept {
        border: none;
        border-radius: 5px;
        background-color: #fff;
        background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.15) 100%);
        width: 100%;
        height: 100%;
        color: #37a8a0;
        font-size: 20px;
        font-weight: bold;
        box-shadow: 0 5px 20px rgba(0,0,0,0.35);
    }
    
    .remember-me-wrapper {
        padding-right: 45px;
        position: relative;
        overflow-x: hidden;
        
        label {
            word-wrap: break-word;
        }
        
        .remember-me-checkbox {
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -17.5px;
            border: 2px solid #fff;
            border-radius: 5px;
        }
    }
    
    .static-text span {
        word-wrap: break-word;
    }
}