@import "settings";

.history-events {
    .year-item {
        font-weight: bold;
        font-size: 24px;
        width: 140px;
        margin: 0 auto;
        font-family: 'Alef', sans-serif;
        
        @media (min-width: 512px) {
            font-size: 32px;
            width: 240px;
        }
        
        .year-value {
            margin: 0 10px;
            font-family: 'Alef', sans-serif;
            
            @media (min-width: 512px) {
                margin: 0 20px;
            }
        }
        .arrow {
            font-family: 'Alef', sans-serif;
            &.disabled {
                visibility: hidden;
            }
        }
    }
    
    .link-home span {
        font-size: 20px;
        font-weight: bold;
        
        @media (min-width: 512px) {
            font-size: 24px;
        }
    }
    
    .header {
        box-shadow: 0 3px 4px rgba(0,0,0,0.25);
        top: 0;
        width: 100%;
        z-index: 10;
    }
    
    .header-padding {
        height: 60px;
        margin-bottom: 10px;
    }
    
    .no-events-found {
        margin: 20px 10px 20px;
        color: #333;
        font-size: 22px;
        text-align: center;
    }
    
    .search-btn {
        background: none;
        margin-left: 30px;
        border: none;
        display: inline-block;
        position: absolute;
        left: 60px;
        top: 0;
        z-index: 10;
        height: 65px;
    }
    
    .search-result {
        font-weight: normal;
    }
    
    .search-box {
        background: #ebebeb;
        line-height: 60px; // for custom placeholder
        box-shadow: 0 3px 4px rgba(0,0,0,0.25);
        font-size: 24px;
        
        position: absolute;
        z-index: 10;
        left: 80px;
        right: 80px;
        top: 5px;
        height: 50px;
        line-height: 50px; // for custom placeholder
        
        .placeholder {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            color: #999;
            
            img {
                width: 40px;
                height: auto;
            }
        }
        
        input {
            height: 100%;
            width: 100%;
            background: none;
            text-align: right;
            font-size: 0.8em;
            border: none;
            padding-left: 60px;
        }
    }
    
    .event-item {
        box-shadow: 0 3px 4px darken($pageBgColor, 5%);
        margin: 0 0 12px;
        padding-top: 20px;
        background: $eventItemBackgroundColor;
        clear: both;
        
        a:hover {
            text-decoration: none;
        }
        
        .event-name {
            font-size: 20px;
            font-weight: bold;
            padding-bottom: 20px;
            color: $eventItemTextColor;
            direction: rtl;
            text-transform: uppercase;
            font-family: 'Alef', sans-serif;
        }
        
        .explore-content {
            float: left;
            width: 13px;
            height: 20px;
            margin-top: 4px;
            background: url(/img/open-arrow.png);
        }
        
        .event-preview {
            position: relative;
            float: right;
            height: 126px;
            width: 50%;
            border-left: 2px solid $eventItemBackgroundColor;
            border-right: 2px solid $eventItemBackgroundColor;
            background-color: #d8d3bd;
            background-image: url(/img/no-image-1.png);
            
            @media (min-width: 540px) {
                height: 220px;
            }
            
            @media (min-width: 768px) {
                height: 280px;
            }
            
            @media (min-width: 1024px) {
                height: 400px;
            }
            
            @media (min-width: 1280px) {
                height: 510px;
            }
            
            @media (min-width: 1680px) {
                height: 640px;
            }
            
            @media (min-width: 1920px) {
                height: 720px;
            }
        }
        
        .no-image {
            background-size: auto;
        }
    }
}