
@import "settings";

$timelineViewportPadding: 30px;

$timelineItemWidth: 150px;
$timelineItemHeight: 100px;
$timelineItemYearTextSize: 26px;

$timelineContentsHeight: 300px;
$timelineContentsBorderColor: #4db8b8;



.timeline {
    padding-bottom: $timelineItemHeight + $timelineContentsHeight + $timelineViewportPadding;
    position: relative;
    //z-index: 1;
    
    .timeline-background {
        background: url(/img/bg-demo.jpg) center no-repeat;
        background-size: cover;
        position: absolute;
        left: 0;
        top: 60px+60px;
        right: 0;
        bottom: $timelineContentsHeight;
        z-index: 1;
        overflow: hidden;
        font-size: 8px;
        line-height: 10px;
        
        .timeline-background-credit {
            position: absolute;
            vertical-align: middle;
            top: 10px;
            left: 5px;
            color: #fff;
            word-wrap: break-word;
            text-shadow: 0 0 2px #000;
            white-space: pre-wrap;
            width: 1px;
        }
    }
    .header {
        margin: 0 0 5px;
        z-index: 10;
        
        &.menu-opened {
            box-shadow: 0 3px 4px rgba(0,0,0,0.25);
        }
        
        .page-title {
            position: absolute;
            left: 80px;
            right: 80px;
            top: 0;
            height: 100%;
            overflow: hidden;
            .app-name {
                font-weight: bold;
                display: block;
            }
            .domain-name {
                font-size: 0.9em;
            }
            font-size: 22px;
            .title-text {
                display: inline-block;
                line-height: 22px;
                vertical-align: middle;
            }
        }
    }
    
    .search-btn {
        background: none;
        margin-left: 30px;
        border: none;
        display: none;
        position: absolute;
        left: 60px;
        top: 0;
        z-index: 10;
        height: 65px;
    }
    
    .search-box {
        position: relative;
        z-index: 8;
        top: -5px;
        background: #ebebeb;
        height: 60px;
        line-height: 60px; // for custom placeholder
        box-shadow: 0 3px 4px rgba(0,0,0,0.25);
        font-size: 24px;
        
        .placeholder {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            color: #999;
            
            img {
                width: 40px;
                height: auto;
            }
        }
        
        .app-event-selector {
            height: 100%;
            background: none;
            font-size: 28px;
            line-height: 1.1em;
            input {
                height: 100%;
                background: none;
                text-align: right;
                font-size: 0.8em;
            }
            
            .dropdown.search-results {
                z-index: 10;
                .dropdown-item {
                    font-size: 18px;
                    a, button {
                        font-size: inherit;
                    }
                }
            }
        }
    }
    
    .add-to-timeline {
        text-align: center;
        margin: 25px 0;
        position: relative;
        z-index: 1;
        button {
            transform: scale(0.75);
            width: 140px;
            height: 140px;
            border-radius: 50%;
            background: #f27326;
            border: 7px solid #fff;
            box-shadow: 0 5px 20px rgba(0,0,0,0.75);
            color: #fff;
            overflow: hidden;
            span span {
                //white-space: nowrap;
                display: block;
                font-weight: bold;
                line-height: 20px;
                font-size: 20px;
            }
            img {
                width: 50px;
                height: auto;
            }
        }
    }
}

.timeline-bar {
    position: relative;
    height: $timelineItemHeight + $timelineContentsHeight + $timelineViewportPadding;
    margin-top: -($timelineItemHeight + $timelineContentsHeight + $timelineViewportPadding);
    z-index: 1;
    
    .timeline-viewport {
        overflow: hidden;
        padding-top: $timelineViewportPadding;
        padding-bottom: 0;
        height: $timelineItemHeight + $timelineViewportPadding;
        white-space: nowrap;
        
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        
        .timeline-lock-screen {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 9999;
            
            &.active {
                display: block;
            }
        }
        
        .timeline-pivot {
            position: relative;
            margin-left: $timelineItemWidth/2;
            left: 50%;
            width: $timelineItemWidth;
            height: $timelineItemHeight;
            
            .timeline-item {
                display: inline-block;
                width: 100%;
                height: 100%;
                border: 5px solid #fff;
                margin-right: -5px;
                bottom: 0;
                position: absolute;
                box-sizing: content-box;
                transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out, z-index 0.2s ease-in-out;
                transform-origin: bottom;
                overflow: hidden;
                z-index: 1;
                
                &.active {
                    box-shadow: 0 0 20px #333; // if active
                    transform: scale(1.1);
                    z-index: 30;
                    
                    a {
                        display: block !important;
                    }
                }
                
                a {
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 1;
                }
                
                
                
                .timeline-image {
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url(/img/no-image.png);
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    
                    z-index: -1;
                    &.inactive {
                        left: 100%;
                    }
                    
                    &.active {
                        z-index: 0;
                        transition: left ease-in-out 0.5s;
                    }
                }
                
                .timeline-year {
                    position: absolute;
                    bottom: 0px;
                    left: 0;
                    right: 0;
                    color: #fff;
                    font-size: $timelineItemYearTextSize;
                    z-index: 1;
                    text-shadow: 0 0 3px #000;
                }
            }
        }
        
    }
    
    .timeline-contents {
        position: absolute;
        background: #37a8a0;
        height: $timelineContentsHeight;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        
        &:before {
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            width: 100%;
            top: -1px;
            height: 15px;
            z-index: 1;
            background: url(/img/timeline-active-year-arrow.png) no-repeat 50% 0;
            background-size: auto 100%;
        }
        
        .timeline-events {
            padding-top: 5px;
            padding-bottom: 5px;
            display: inline-block;
            width: 100%;
            height: $timelineContentsHeight - 5px;
            
            a {
                color: inherit;
                
                &:last-child .timeline-event {
                    border: none !important;
                }
                
                &.timeline-explore-more {
                    font-weight: bold;
                }
            }
            
            .timeline-event {
                position: relative;
                text-align: right;
                font-size: 22px;
                border-bottom: 1px solid $timelineContentsBorderColor;
                color: #fff;
                margin-right: 20px;
                padding-left: 50px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                height: $timelineContentsHeight / 4 - 5;
                line-height: $timelineContentsHeight / 4 - 5;
                
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 40px;
                    height: 100%;
                    background: url(/img/timeline-content-open.png) center no-repeat;
                }
            }
            
            .timeline-no-more-events {
                font-size: 28px;
                text-align: center;
                margin-right: 10px;
                margin-left: 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #fff;
                height: $timelineContentsHeight / 4 - 5;
                line-height: $timelineContentsHeight / 4 - 5;
            }
        }
    }
}

@media (min-height: 600px) {
    $timelineViewportPadding: 40px;
    $timelineItemWidth: 206px;
    $timelineItemHeight: 140px;
    $timelineItemYearTextSize: 32px;
    $timelineContentsHeight: 300px; // sync with code above
    
    .timeline {
        padding-bottom: $timelineItemHeight + $timelineContentsHeight + $timelineViewportPadding;
        
        .add-to-timeline {
            margin: 40px 0 0;
            button {
                transform: scale(1.0);
            }
        }
    }
    
    .timeline-bar {
        height: $timelineItemHeight + $timelineContentsHeight + $timelineViewportPadding;
        margin-top: -($timelineItemHeight + $timelineContentsHeight + $timelineViewportPadding);
        
        .timeline-viewport {
            padding-top: $timelineViewportPadding;
            height: $timelineItemHeight + $timelineViewportPadding;
            
            .timeline-pivot {
                margin-left: $timelineItemWidth/2;
                width: $timelineItemWidth;
                height: $timelineItemHeight;
                .timeline-item {
                    .timeline-year {
                        font-size: $timelineItemYearTextSize;
                    }
                }
            }
        }
        
        
        
        .timeline-contents {
            height: $timelineContentsHeight;
        }
        
    }
    
    
}

@media (min-height: 768px) {
    .timeline {
        .timeline-background {
            .timeline-background-credit {
                font-size: 1.5em;
            }
        }
    }
}

@media (min-width: 920px) {
    $timelineViewportPadding: 30px;
    $timelineItemWidth: 180px;
    $timelineItemHeight: 122px;
    $timelineItemYearTextSize: 28px;
    $timelineContentsHeight: 80px;
    
    .timeline {
        padding-bottom: $timelineItemHeight + $timelineContentsHeight + $timelineViewportPadding;
        
        .timeline-background {
            top: 60px;
            bottom: $timelineContentsHeight;
        }
        
        .header {
            box-shadow: 0 3px 4px rgba(0,0,0,0.25);
            
            
            .page-title {
                left: 140px;
                padding-right: 60px;
                .app-name {
                    display: inline-block;
                }
                
                .domain-name {
                    font-size: inherit;
                }
            }
        }
        
        .search-btn {
            display: inline-block;
        }
        
        .search-box {
            display: none;
            position: absolute;
            z-index: 10;
            left: 80px;
            right: 80px;
            top: 5px;
            height: 55px;
            line-height: 55px; // for custom placeholder
            .placeholder {
                display: none;
            }
            
            .app-event-selector {
                input {
                    padding-left: 60px;
                }
            }
        }
        
        .add-to-timeline {
            margin: 10px 0 0 0 !important;
            
            @media (min-width: 1024px) {
                margin: 30px 0 !important;
            }
            
            @media (min-height: 600px) {
                margin: 0 0 0 0 !important;
                position: absolute;
                top: 20%;
                width: 100%;
            } 
        }
    }
    
    .timeline-bar {
        height: $timelineItemHeight + $timelineContentsHeight + $timelineViewportPadding;
        margin-top: -($timelineItemHeight + $timelineContentsHeight + $timelineViewportPadding);
        
        .timeline-viewport {
            padding-top: $timelineViewportPadding;
            height: $timelineItemHeight + $timelineViewportPadding;
            
            .timeline-pivot {
                margin-left: $timelineItemWidth/2;
                width: $timelineItemWidth;
                height: $timelineItemHeight;
                .timeline-item {
                    .timeline-year {
                        font-size: $timelineItemYearTextSize;
                    }
                }
            }
        }
        
        .timeline-contents {
            height: $timelineContentsHeight;
            
            .timeline-events {
                height: $timelineContentsHeight - 10px;
                line-height: $timelineContentsHeight - 10px;
                a {
                    width: 50%;
                    float: right;
                
                    .timeline-event {
                        border-bottom: none;
                        border-left: 1px solid $timelineContentsBorderColor;
                        height: auto;
                        line-height: inherit;
                    }
                    
                    &.timeline-explore-more {
                        float: none;
                        position: absolute;
                        left: 0;
                        display: inline-block !important;
                        .timeline-event {
                            background: #37a8a0;
                            text-align: left;
                        }
                    }
                }
                
                &.timeline-content-has-2-events {
                    a {
                        width: 50%;
                    }
                }
                
                &.timeline-content-has-3-events {
                    a {
                        width: 33.33%;
                    }
                }
                
            }
            
            
        }
    }
}

.sidemenu {
    
    &.fade {
        opacity: 1;
    }
    
    .sidemenu-background {
        background: #000;
        position: fixed;
        z-index: 9;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity:0.5;
        transition: opacity linear 0.2s;
    }
    
    .sidemenu-panel {
        background: #37a8a0;
        position: fixed;
        z-index: 9;
        top: 0;
        left: 0;
        bottom: 0;
        width: 70%;
        min-width: 300px;
        max-width: 500px;
        padding-top: 60px;
        padding-right: 20px;
        transition: left ease-in-out 0.2s;
        
        .item-link {
            display: block;
            margin: 25px 5px 5px 10px;
            color: #fff;
            font-size: 22px;
            
            &.app-rtl {
                text-align: right; 
            }
        }
        
        .btn-logout {
            background: #f37426;
            border: 2px solid #fff;
            color: #fff;
            width: 100%;
            font-weight: bold;
            font-size: 22px;
            border-radius: 10px;
            margin: 40px 5px 5px;
            padding: 5px;
            
        }
    }
    
    &.ng-hide, &.ng-hide-add {
        .sidemenu-background {
            opacity:0;
        }
        
        .sidemenu-panel {
            left: -100%;
        }
    }
    
    &.ng-hide-add, &.ng-hide-remove {
        display: block !important;
    }
}