<div class="alert-container">
    <div class="top-bar" ng-hide="alert.hideTopBar">
        <button class="btn-close" ng-click="alert.onCloseIconClick ? $eval(alert.onCloseIconClick, {$close: $close}) : $close()" ng-hide="alert.hideCloseDialogIcon"></button>
    </div>
    <div class="icon" ng-if="alert.icon" style="background-image:url{{'(' + alert.icon + ')'}}">
    </div>    
    <div class="title">
        {{alert.title}}
    </div>
    <div class="text">
        {{alert.text}}
    </div>
    <div class="actions" ng-include="'/views/alert-action-templates/' + alert.actionsTemplateName + '.html'" ng-if="alert.actionsTemplateName">        
    </div>
</div>