<div class="header" show-modal="'alert-dialog'" ng-init="alert = {title:'NOT SET',text:'NOT SET',actionsTemplateName:'',processing:false}; application.currentPage.title = '\'Report to admin\''" modal-class="'alert-dialog'" activate-on="none" modal-init="modal.displayAlert = $activateModal">
    <div class="clearfix app-container top">
        <a class="pull-left" ui-sref="events({year:event.year})" ng-click="$event.preventDefault(); $close()">
             <img src="/img/back-arrow.png" />
        </a>
        <a ui-sref="home">
            <div class="domain-logo pull-right">
                <div class="image cover-height" style="background-image:{{'url(' + application.domainImageUrl + ')'}}"></div>
            </div>
        </a>
        <div class="page-title clearfix text-center">
            <span class="responsive-font-1">{{'REPORT_PAGE_HEADER'|translate}}</span>
        </div>
    </div>
</div>
<div class="form-group"></div>
<form name="form" action="javascript:void(0)" ng-submit="reportToAdmin({eventId: event.id, contentId: content.id, contentType: content.media.type, topicName: topicName, message: message, alertDialog: alert, showAlertFn: modal.displayAlert})" class="app-container">
    <div class="form-group">
        <div class="input-field required" ng-class="{'app-rtl':$state.ApplicationDirectionRtL}">
            <input name="topic" type="text" class="form-control" ng-model="topicName" ng-keydown="$event.which == 13 && $event.preventDefault()" placeholder="{{'REPORT_PAGE_LABEL_TOPIC'|translate}}"  required />
        </div>
    </div>
    <div class="form-group input-field" ng-class="{'app-rtl':$state.ApplicationDirectionRtL}">
        <textarea name="message" ng-model="message" class="input-border message-field" style="width: 100%; resize: none;" placeholder="{{'REPORT_PAGE_LABEL_MESSAGE'|translate}}"></textarea>
    </div>
    <div class="form-group">
        <button class="btn-submit" remove-focus ng-disabled="!form.$valid||alert.processing">{{'REPORT_PAGE_BUTTON_SUBMIT_FORM'|translate}}</button>
    </div>
</form>
