<div class="header" ng-init="view = {addNewEvent:false}">
    <div class="clearfix app-container top">
        <a class="pull-left" ng-href="{{$stateParams.event ? $state.href('contents', {event:$stateParams.event}) : $state.href('home') }}">
            <img src="/img/back-arrow.png" />
        </a>
        <a ui-sref="home">
            <div class="domain-logo pull-right">
                <div class="image cover-height" style="background-image:{{'url(' + application.domainImageUrl + ')'}}"></div>
            </div>
        </a>
        <div class="event-name clearfix text-center">
            <span class="responsive-font-1">{{'SELECT_EVENT_PAGE_HEADER'|translate}}</span>
        </div>
    </div>
</div>
<div class="form-group"></div>
<form name="form" action="javascript:void(0)" ng-submit="createEvent(view.event); $close()" class="app-form-container">
    <div class="form-group">
        <app-event-selector ng-model="view.event" element-required allow-new-event placeholder="EVENT">
        </app-event-selector>
    </div>
    <div class="form-group" ng-if="view.event.newEvent">
        <label for="add-event-name" class="show new-event-label form-group" app-rtl="text-right" ng-init="view.event.day=view.event.month=null">
                {{'SELECT_EVENT_LABEL_DETAILS'|translate}}
            </label>
        <div class="input-field required" app-rtl>
            <input id="add-event-name" name="name" type="text" class="form-control input-border" ng-model="view.event.name" ng-keydown="$event.which == 13 && $event.preventDefault()"
                placeholder="{{'SELECT_EVENT_LABEL_EVENT_NAME'|translate}}" required />
        </div>
    </div>
    <div class="form-group clearfix" ng-if="view.event.newEvent">
        <div class="pull-left add-event-date-container">
            <app-select ng-model="view.event.day" placeholder="'SELECT_EVENT_LABEL_DAY'|translate">
                <app-select-item ng-repeat="item in ((view.event.year != null && view.event.month != null ? view.event.year+'/'+('0'+view.event.month).slice(-2) + '/01' : 'Invalid Date') | timelineDateSelector:'day')" value="{{item}}">{{item}}</app-select-item>
            </app-select>
        </div>
        <div class="pull-left add-event-date-container">
            <app-select ng-model="view.event.month" ng-change="view.event.day = null" placeholder="'SELECT_EVENT_LABEL_MONTH'|translate">
                <app-select-item ng-repeat="item in (view.event.year | timelineDateSelector:'month')" value="{{item}}">{{item}}</app-select-item>
            </app-select>
        </div>
        <div class="pull-left add-event-date-container">
            <div class="input-field required" app-rtl>
                <input id="add-event-name" name="name" type="number" ng-change="view.event.year = view.eventYear.toString()" ng-pattern="/^[1-9]\d{0,3}$/" class="form-control input-border responsive-text" ng-model="view.eventYear" ng-keydown="$event.which == 13 && $event.preventDefault()"
                    placeholder="{{'SELECT_EVENT_LABEL_YEAR'|translate}}" required />
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn-submit" ng-disabled="!form.$valid" value="{{'SELECT_EVENT_BUTTON_FORM_SUBMIT'|translate}}" />
    </div>
</form>