<div class="header" show-modal="'alert-dialog'" ng-init="alert = {title:'NOT SET',text:'NOT SET',actionsTemplateName:'',processing:false}; application.currentPage.title = '\'Share via email\''" modal-class="'alert-dialog'" activate-on="none" modal-init="modal.displayAlert = $activateModal">
    <div class="clearfix app-container top">
        <a class="pull-left" ui-sref="events({year:event.year})" ng-click="$event.preventDefault(); $close()">
             <img src="/img/back-arrow.png" />
        </a>
        <a ui-sref="home">
            <div class="domain-logo pull-right">
                <div class="image cover-height" style="background-image:{{'url(' + application.domainImageUrl + ')'}}"></div>
            </div>
        </a>
        <div class="page-title clearfix text-center">
            <span class="responsive-font-1">{{'SHARE_VIA_EMAIL_PAGE_HEADER'|translate}}</span>
        </div>
    </div>
</div>
<div class="form-group"></div>
<form name="form" action="javascript:void(0)" ng-submit="shareViaMail({eventId: event.id, contentId: content.id, contentType: content.media.type, recipientName: recipientName, recipientEmail: recipientEmail, message: message, alertDialog: alert, showAlertFn: modal.displayAlert})" class="app-container">
    <div class="form-group">
        <table style="width: 100%; border-spacing: 0" ng-show="$state.ApplicationDirectionRtL">
            <tr>
                <td style="width:100%">
                    <div class="input-field required app-rtl">
                        <input name="name" type="text" class="form-control" ng-model="recipientName" ng-keydown="$event.which == 13 && $event.preventDefault()" placeholder="{{'SHARE_VIA_EMAIL_LABEL_RECIPIENT_NAME'|translate}}"  required />
                    </div>
                </td>
                <td style="padding-left: 10px" class="app-label flip">
                    {{'SHARE_VIA_EMAIL_LABEL_RECIPIENT_NAME'|translate}}:
                </td>
            </tr>
            <tr>
                <td style="width:100%">
                    <div class="input-field required app-rtl">
                        <input name="email" type="email" class="form-control no-top-border" ng-model="recipientEmail" ng-keydown="$event.which == 13 && $event.preventDefault()" placeholder="{{'SHARE_VIA_EMAIL_LABEL_RECIPIENT_EMAIL'|translate}}" required />
                    </div>
                </td>
                <td style="padding-left: 10px" class="app-label flip">
                    {{'SHARE_VIA_EMAIL_LABEL_RECIPIENT_EMAIL'|translate}}:
                </td>
            </tr>
        </table>
        <table style="width: 100%; border-spacing: 0" ng-show="!$state.ApplicationDirectionRtL">
            <tr>
                <td style="padding-left: 10px" class="app-label">
                    {{'SHARE_VIA_EMAIL_LABEL_RECIPIENT_NAME'|translate}}:
                </td>
                <td style="width:100%">
                    <div class="input-field required">
                        <input name="name" type="text" class="form-control" ng-model="recipientName" ng-keydown="$event.which == 13 && $event.preventDefault()" placeholder="{{'SHARE_VIA_EMAIL_LABEL_RECIPIENT_NAME'|translate}}"  required />
                    </div>
                </td>
            </tr>
            <tr>
                <td style="padding-left: 10px" class="app-label">
                    {{'SHARE_VIA_EMAIL_LABEL_RECIPIENT_EMAIL'|translate}}:
                </td>
                <td style="width:100%">
                    <div class="input-field required">
                        <input name="email" type="email" class="form-control no-top-border" ng-model="recipientEmail" ng-keydown="$event.which == 13 && $event.preventDefault()" placeholder="{{'SHARE_VIA_EMAIL_LABEL_RECIPIENT_EMAIL'|translate}}" required />
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="form-group input-field" ng-class="{'app-rtl':$state.ApplicationDirectionRtL}">
        <textarea name="message" ng-class="{flip:$state.ApplicationDirectionRtL}" ng-model="message" class="input-border message-field" style="width: 100%; resize: none;" placeholder="{{'SHARE_VIA_EMAIL_LABEL_MESSAGE'|translate}}"></textarea>
    </div>
    <div class="form-group">
        <button class="btn-submit" remove-focus ng-disabled="!form.$valid||alert.processing">{{'SHARE_VIA_EMAIL_BUTTON_SUBMIT_FORM'|translate}}</button>
    </div>
</form>
