<div class="account" show-modal="'alert-dialog'" modal-class="'alert-dialog'" activate-on="none" modal-init="displayAlert = $activateModal">
    <div class="header">
        <div class="clearfix app-container top">
            <a class="pull-left" ui-sref="login">
                <img src="/img/back-arrow.png" />
            </a>
            <div class="domain-logo pull-right">
                <div class="image cover-height" style="background-image:{{'url(' + application.domainImageUrl + ')'}}"></div>
            </div>
            <div class="page-title clearfix text-center">
                <span>{{'ACCOUNT_FORGOT_PASSWORD_PAGE_HEADER'|translate}}</span>
            </div>
        </div>
    </div>
    <div class="form-group"></div>
    <form name="form" action="javascript:void(0)" ng-submit="restorePassword(email)">
        <div class="form-group app-form-container">
            <div class="input-field" app-rtl>
                <input name="email" type="email" class="form-control" ng-model="email" ng-keydown="$event.which == 13 && $event.preventDefault()" placeholder="{{'ACCOUNT_LABEL_EMAIL'|translate}}"  required />
            </div>
        </div>
        <div class="form-group app-form-container">
            <button class="btn-submit" remove-focus ng-disabled="!form.$valid">{{'ACCOUNT_BUTTON_FORGOT_PASSWORD_FORM_SUBMIT'|translate}}</button>
        </div>
    </form>
</div>