<div class="account cover-height account-content" show-modal="'alert-dialog'" modal-class="'alert-dialog'" activate-on="none" modal-init="displayAlert = $activateModal">
    <div class="header">
        <div class="clearfix app-container top">
            <a class="pull-left" ui-sref="entrance" ng-click="$event.preventDefault(); application.reset(1)">
                <img src="/img/close.png" />
            </a>
            <div class="domain-logo pull-right">
                <div class="image cover-height" style="background-image:{{'url(' + application.domainImageUrl + ')'}}"></div>
            </div>
            <div class="page-title clearfix text-center">
                <span>{{'ACCOUNT_LOGIN_PAGE_HEADER'|translate}}</span>
            </div>
        </div>
    </div>
    <div class="form-group"></div>
    <div class="form-group app-form-container">
        <button class="facebook-btn" ng-click="loginFb()">
            {{'ACCOUNT_BUTTON_LOGIN_WITH_FACEBOOK'|translate}}
        </button>
    </div>
    <div class="form-group text-center app-form-container">
        <span class="separator-or">
            {{'ACCOUNT_LABEL_SEPARATOR_OR'|translate}}
        </span>
    </div>
    <form name="form" action="javascript:void(0)" ng-submit="login(email, password, rememberMe)">
        <div class="form-group app-form-container">
            <div class="input-field required" app-rtl>
                <input name="email" type="email" class="form-control" ng-model="email" ng-keydown="$event.which == 13 && $event.preventDefault()" placeholder="{{'ACCOUNT_LABEL_EMAIL'|translate}}"  required />
            </div>
            <div class="input-field required" app-rtl>
                <input name="password" type="password" class="form-control" ng-model="password" ng-keydown="$event.which == 13 && $event.preventDefault()" placeholder="{{'ACCOUNT_LABEL_PASSWORD'|translate}}"  required />
            </div>
        </div>
        <div class="form-group app-form-container clearfix" ng-if="!$state.ApplicationDirectionRtL">
            <div class="remember-me-wrapper text-left option">
                <label for="rememberMe" class="non-selectable-text"><span class="responsive-font-0-25">{{'ENTRANCE_LABEL_REMEMBER_ME'|translate}}</span></label>
                <app-checkbox object-id="rememberMe" ng-model="rememberMe" class="remember-me-checkbox pull-right"></app-checkbox>
            </div>
            <div class="option text-right">
                <a class="link" ui-sref="forgotPassword">
                    <span class="responsive-font-0-25">{{'ACCOUNT_BUTTON_FORGOT_PASSWORD'|translate}}</span>
                </a>
            </div>
        </div>
        <div class="form-group app-form-container clearfix" ng-if="$state.ApplicationDirectionRtL" app-rtl>
            <div class="option text-left">
                <a class="link" ui-sref="forgotPassword">
                    <span class="responsive-font-0-25">{{'ACCOUNT_BUTTON_FORGOT_PASSWORD'|translate}}</span>
                </a>
            </div>
            <div class="remember-me-wrapper text-right option">
                <label for="rememberMe" class="non-selectable-text"><span class="responsive-font-0-25">{{'ENTRANCE_LABEL_REMEMBER_ME'|translate}}</span></label>
                <app-checkbox object-id="rememberMe" ng-model="rememberMe" class="remember-me-checkbox pull-right"></app-checkbox>
            </div>
        </div>
        <div class="form-group app-form-container">
            <button class="btn-submit" remove-focus ng-disabled="!form.$valid">{{'ACCOUNT_BUTTON_LOGIN_FORM_SUBMIT'|translate}}</button>
        </div>
    </form>
</div>
<div class="account app-footer app-form-container">
    <span class="suggest-login responsive-font-0-25" app-rtl> 
        <span>{{'ACCOUNT_LABEL_QUESTION_NEW_TO_APP'|translate}}</span> <a ui-sref="signup" class="text-nowrap">{{'ACCOUNT_BUTTON_REGISTER'|translate}}</a>
    </span>
</div>
<!--
<div class="account clearfix app-footer app-form-container">
     <span class="app-button pull-left">
        <a ui-sref="signup">
            <span>{{'ACCOUNT_BUTTON_REGISTER'|translate}}</span>
        </a> 
     </span>
     <span class="app-button pull-right">
        <a ui-sref="forgotPassword">
             <span>{{'ACCOUNT_BUTTON_FORGOT_PASSWORD'|translate}}</span>
        </a>
     </span>
</div>
-->