<div class="account cover-height account-content" show-modal="'alert-dialog'" modal-class="'alert-dialog'" activate-on="none" modal-init="displayAlert = $activateModal">
    <div class="header">
        <div class="clearfix app-container top">
            <a class="pull-left" ui-sref="entrance" ng-click="$event.preventDefault(); application.reset(1)">
                <img src="/img/close.png" />
            </a>
            <div class="domain-logo pull-right">
                <div class="image cover-height" style="background-image:{{'url(' + application.domainImageUrl + ')'}}"></div>
            </div>
            <div class="page-title clearfix text-center">
                <span>{{'ACCOUNT_SIGNUP_PAGE_HEADER'|translate}}</span>
            </div>
        </div>
    </div>
    <div class="form-group"></div>
    <div class="form-group app-form-container">
        <button class="facebook-btn" ng-click="signupFb()">
            {{'ACCOUNT_BUTTON_SIGNUP_WITH_FACEBOOK'|translate}}
        </button>
    </div>
    <div class="form-group text-center app-form-container">
        <span class="separator-or">
            {{'ACCOUNT_LABEL_SEPARATOR_OR'|translate}}
        </span>
    </div>
    <form name="form" action="javascript:void(0)" ng-submit="signup(username, email, password)">
        <div class="form-group app-form-container">
            <div class="input-field required" app-rtl>
                <input name="username" type="text" class="form-control" ng-model="username" ng-keydown="$event.which == 13 && $event.preventDefault()" placeholder="{{'ACCOUNT_LABEL_USER_NAME'|translate}}"  required />
            </div>
            <div class="input-field required" app-rtl>
                <input name="email" type="email" class="form-control" ng-model="email" ng-keydown="$event.which == 13 && $event.preventDefault()" placeholder="{{'ACCOUNT_LABEL_EMAIL'|translate}}"  required />
            </div>
            <div class="input-field required" app-rtl>
                <input name="password" type="password" class="form-control" ng-model="password" ng-keydown="$event.which == 13 && $event.preventDefault()" placeholder="{{'ACCOUNT_LABEL_PASSWORD'|translate}}"  required />
            </div>
            <div class="input-field required form-group" app-rtl>
                <input name="repeatPassword" type="password" class="form-control" ng-model="repeatPassword" ng-keydown="$event.which == 13 && $event.preventDefault()" placeholder="{{'ACCOUNT_LABEL_CONFIRM_PASSWORD'|translate}}"  required />
            </div>
        </div>
        <div class="form-group"></div>
        <div class="form-group"></div>
        <div class="form-group app-form-container">
            <button class="btn-submit" remove-focus ng-disabled="!form.$valid || password != repeatPassword">{{'ACCOUNT_BUTTON_SIGNUP_FORM_SUBMIT'|translate}}</button>
        </div>
    </form>
</div>
<div class="account app-footer app-form-container">
    <span class="suggest-login responsive-font-0-25" app-rtl> 
        <span>{{'ACCOUNT_LABEL_QUESTION_ALREADY_REGISTERED'|translate}}</span> <a ui-sref="login" class="text-nowrap">{{'ACCOUNT_BUTTON_LOGIN'|translate}}</a>
    </span>
</div>