<div class="contents" show-modal="'alert-dialog'" modal-class="'alert-dialog'" activate-on="none" modal-init="displayAlert = $activateModal">
    <div class="header" ng-init="">
        <div class="clearfix app-container top">
            <a class="pull-left" ui-sref="home">
                <img src="/img/back-arrow.png" />
            </a>
            <a ui-sref="home">
                <div class="image domain-logo pull-right" style="background-image:{{'url(' + application.domainImageUrl + ')'}}">
                </div>
            </a>
            <div class="page-title clearfix text-center">
                <span class="responsive-font-0-5" ng-bind="'CONTACT_PAGE_HEADER'|translate"></span>
            </div>
        </div>
    </div>
    <div class="form-group"></div>
    <form name="form" action="javascript:void(0)" class="form-group app-form-container" ng-submit="form.$valid && contactToAdmin(fieldFullName, fieldPhoneNumber, fieldEmail, fieldTopic, fieldDetails)">
        <div class="form-group form-label text-center">
            <span class="responsive-font-0-5">{{'CONTACT_PAGE_LABEL_FORM'|translate}}</span>
        </div>
        <div class="form-group">
            <div class="input-field required">
                <input name="fullName" type="text" class="form-control" ng-model="fieldFullName" ng-keydown="$event.which == 13 && $event.preventDefault()" placeholder="{{'CONTACT_PAGE_LABEL_FULL_NAME'|translate}}"  required />
            </div>
        </div>
        <div class="form-group">
            <div class="input-field required">
                <input name="phoneNumber" type="tel" class="form-control" ng-model="fieldPhoneNumber" ng-keydown="$event.which == 13 && $event.preventDefault()" placeholder="{{'CONTACT_PAGE_LABEL_PHONE_NUMBER'|translate}}" required />
            </div>
        </div>
        <div class="form-group">
            <div class="input-field required">
                <input name="email" type="email" class="form-control" ng-model="fieldEmail" ng-keydown="$event.which == 13 && $event.preventDefault()" placeholder="{{'CONTACT_PAGE_LABEL_EMAIL'|translate}}" required />
            </div>
        </div>
        <div class="form-group">
            <div class="input-field required">
                <input name="topic" type="text" class="form-control" ng-model="fieldTopic" ng-keydown="$event.which == 13 && $event.preventDefault()" placeholder="{{'CONTACT_PAGE_LABEL_TOPIC'|translate}}" required />
            </div>
        </div>
        <div class="form-group input-field">
            <textarea name="details" ng-model="fieldDetails" class="input-border message-field" style="width: 100%; resize: none;" placeholder="{{'CONTACT_PAGE_LABEL_ADDITIONAL_DETAILS'|translate}}"></textarea>
        </div>
        <div class="form-group">
            <button class="btn-submit" remove-focus ng-disabled="!form.$valid">{{'CONTACT_PAGE_BUTTON_SUBMIT_FORM'|translate}}</button>
        </div>
    </form>
    <div class="form-group text-center contact-us-about-text clearfix">
        <span class="responsive-font-0-5">{{'CONTACT_PAGE_LABEL_READ'|translate}} <a ui-sref="showInfo({page:'about'})">{{'CONTACT_PAGE_LABEL_ABOUT_US'|translate}}</a></span>
    </div>
</div>