<h1 class="text-danger text-center http-error-code" ng-init="$state.ApplicationDirectionRtL==null && $state.params.errCode != '404' && $state.go('error', {errCode: 404})">
    <span class="responsive-font-0-5">
        {{$state.params.errCode}}
    </span>
</h1>
<h2 class="text-danger text-center">
    <span class="responsive-font-0-5" ng-class="{'flip':$state.ApplicationDirectionRtL}" ng-if="$state.ApplicationDirectionRtL!=null">
        {{('ERROR_PAGE_'+$state.params.errCode)|translate}}
    </span>
    <span class="responsive-font-0-5" ng-if="$state.ApplicationDirectionRtL==null">
        Page not found!
    </span>
</h2>
<a ui-sref="entrance">
    <h2 class="text-center">
        <span class="responsive-font-0-5" ng-if="$state.ApplicationDirectionRtL!=null">
            {{'ERROR_PAGE_BUTTON_RETURN_HOME'|translate}}
        </span>
        <span class="responsive-font-0-5" ng-if="$state.ApplicationDirectionRtL==null">
            RETURN TO HOME PAGE
        </span>
    </h2>
</a>