<div class="contents" ng-init="view = {showSideMenu: false}; getStaticInfo()">
    <div class="header" ng-init="">
        <div class="clearfix app-container top">
            <a class="pull-left" ui-sref="home" ng-click="$event.preventDefault(); view.showSideMenu = !view.showSideMenu; view.showSearchBox = false">
                <img src="/img/menu.png" ng-if="!view.showSideMenu" />
                <img src="/img/back-arrow.png" ng-if="view.showSideMenu" />
            </a>
            <a ui-sref="home">
                <div class="image domain-logo pull-right" style="background-image:{{'url(' + application.domainImageUrl + ')'}}">
                </div>
            </a>
            <div class="page-title clearfix text-center">
                <span class="responsive-font-0-5">{{('STATIC_PAGE_'+$stateParams.page.toUpperCase()+'_HEADER')|translate}}</span>
            </div>
        </div>
    </div>
    <div class="form-group"></div>
    <div class="form-group static-text">
        <div class="app-container responsive-font-0-5" app-rtl ng-bind-html="pageData.html"></div>
    </div>
</div>
<div ng-include="'/views/partials/sidemenu.html'"></div>